/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&family=Trade+Winds&display=swap");


/* CSS Variables */
:root {
  --primary-font: "Trade Winds", sans-serif;
  --secondary-font: "Sriracha", sans-serif;
  --tertiary-font: "Roboto", sans-serif;
}
