/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&family=Trade+Winds&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Trade Winds", sans-serif;
  --secondary-font: "Sriracha", sans-serif;
  --tertiary-font: "Roboto", sans-serif;
  --black-color: #232c37; /*light black*/
  --brown-color: #a68182; /*light brown*/
  --orange-color: #aa4933; /*dark orange*/
  --blue-color: #7c90ab; /*light blue*/
  --gray-color: #435b76; /*light gray*/
  --gold-color: #f9bc66; /*gold*/
  --beige-color: #e6d7ce; /*beige*/
}

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
  color: var(--gray-color);
}

body {
  min-height: 100vh;
  overflow-y: auto;
  background-image: url("../images/library.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#topic-container,
#quiz-container,
#result-container,
#error-container {
  min-height: 80vh;
  overflow-y: auto;
  width: 80%;
  background-color: white;
  margin: 5vh 0 10vh 0;
  padding: 40px;
  border-radius: 15px;
}

/* Topic container */
#topic-container h4 {
  color: var(--beige-color);
  background-color: var(--brown-color);
  padding: 10px 5px;
  margin-bottom: 0;
  cursor: pointer;
}

#topic-container h4:hover {
  color: var(--orange-color);
}

.btn-topicImg {
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
  box-shadow: 5px 10px 15px var(--black-color);
}

.btn-topicImg:hover {
  border: 4px solid var(--orange-color);
}

.btn-topicImg img {
  width: 185px;
  height: 170px;
  object-fit: cover;
}

.btn-modal {
  background-color: #435b76;
  color: wheat;
}

.btn-modal:hover {
  border: 2px solid var(--gray-color);
}

.modal span {
  font-family: var(--tertiary-font);
  font-size: 1.2rem;
  color: var(--black-color);
  padding: 0;
}

/* Quiz container */
#quiz-container {
  flex-direction: column;
}

#question,
#quiz-progress {
  display: flex;
  justify-content: center;
}

#question {
  height: 20vh;
  align-items: center;
}

#answers {
  flex-grow: 1;
  margin-top: 1.25rem;
}

#quiz-progress {
  height: 15vh;
  align-items: end;
}

.answer-btn {
  width: 100%;
  margin: 10px auto;
  padding: 10px 15px;
  font-size: 1rem;
  text-align: left;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 10px 10px lightgray;
}

.answer-btn:hover {
  background-color: var(--brown-color);
  color: white;
}

#startOver button {
  background-color: #435b76;
  color: wheat;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5 4rem;
  box-shadow: 5px 10px 10px var(--blue-color);
}

#startOver button:hover {
  background-color: var(--orange-color);
  border: 2px solid var(--gray-color);
}

/* Result container*/
#result-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  color: var(--orange-color);
  font-family: var(--tertiary-font);
  font-size: 1rem;
  font-weight: 500;
}

.btn-brown {
  background-color: var(--brown-color);
  color: var(--beige-color);
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  box-shadow: 5px 10px 10px var(--blue-color);
}

.btn-brown:hover {
  border: 2px solid var(--gray-color);
  color: var(--gray-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--tertiary-font);
  overflow-x: auto;
  padding: 0 0.3rem;
  margin-bottom: 60px;
}

.results-table h5 {
  text-align: left;
  background-color: white;
  margin-bottom: 0;
  padding-left: 0.3rem;
}

tr,
.results-table h5 {
  border: 3px solid var(--gray-color)
}

th {
  background-color: white;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  max-height: 70px;
  overflow-y: auto;
  display: block;
}

.correct {
  background-color: #d4edda;
}

.incorrect {
  background-color: #f8d7da;
}

/* Footer */
footer {
  width: 100%;
  height: 5vh;
  background-color: white;
  color: var(--gray-color);
  position: fixed;
  left: 0;
  bottom: 0;
}

/* Custom classes */
.orange {
  color: var(--orange-color);
}

.gray {
  color: var(--gray-color)
}
.brown {
  color: #5c4943;
}

.bold {
  font-weight: bold;
}

.hide {
  display: none !important;
}

.emoji {
  font-size: 3rem;
}

/* Media queries */
@media screen and (min-width: 576px) {
  #question,
  #quiz-progress {
    height: 25vh;
  }

  #answers {
    margin-top: 0;
  }

  #startOver button {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0 5rem;
  }

}

@media screen and (min-width: 768px) {
th,
td {
  display: table-cell;
}

tr,
.results-table h5 {
  border: none;
}

.results-table h5 {
  text-align: center;
}

}

@media screen and (min-width: 992px) {
  #topic-container,
  #quiz-container,
  #result-container,
  #error-container {
    min-height: 80vh;
    width: 70%;
  }

  #topic-container {
    margin: 5vh 0 10vh 0;
  }

  #question,
  #quiz-progress {
    height: 20vh;
  }

  .results-table {
    text-align: center;
  }
}
