/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&family=Trade+Winds&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Trade Winds", sans-serif;
  --secondary-font: "Sriracha", sans-serif;
  --tertiary-font: "Roboto", sans-serif;
  --black-color: #232c37; /*light black*/
  --brown-color: #a68182; /*light brown*/
  --orange-color: #aa4933; /*dark orange*/
  --blue-color: #7c90ab; /*light blue*/
  --gray-color: #435b76; /*light gray*/
  --gold-color: #f9bc66; /*gold*/
  --beige-color: #e6d7ce; /*beige*/
}

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--primary-font);
  color: var(--gray-color);
}

body {
  min-height: 100vh;
  overflow-y: auto;
  background-image: url("../images/library.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#topic-container,
#quiz-container {
  min-height: 90vh;
  overflow-y: auto;
  width: 80%;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
}

/* Topic container */
#topic-container h4 {
  color: var(--beige-color);
  background-color: var(--brown-color);
  padding: 10px 5px;
  margin-bottom: 0;
  cursor: pointer;
}

#topic-container h4:hover {
  color: var(--orange-color);
}

.btn-topicImg {
  border: none;
  cursor: pointer;
  margin-bottom: 2rem;
  box-shadow: 5px 10px 15px var(--black-color);
}

.btn-topicImg:hover {
  border: 5px solid var(--orange-color);
}

.btn-topicImg img {
  width: 185px;
  height: 170px;
  object-fit: cover;
}

.btn-modal {
  background-color: #435b76;
  color: wheat;
}

.btn-modal:hover {
  border: 2px solid var(--gray-color);
}

.modal span {
  font-family: var(--tertiary-font);
  font-size: 1.2rem;
  color: var(--black-color);
  padding: 0;
}

/* Quiz container */
#quiz-container {
  flex-direction: column;
}

#question, 
#quiz-progress {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#answers {
 flex-grow: 6; 
}

.answer-btn {
  width: 100%;
  margin: 10px auto;
  padding: 10px 15px;
  font-size: 1rem;
  text-align: left;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.hide {
  display: none;
}


